#-----------------------------------------------
#模板配置规则

[TemplateFile:2:1]
u_L;	.*;		/player/player_main.ftl
u_R;	.*;		/player/register.ftl

p_CP;	.*;		/product/create_product.ftl
p_CSP;	.*;		/product/consum_product.ftl
p_MP;	.*;		/product/my_product.ftl



.*;                 .*;             fail.ftl

[/TemplateFile]
