#-----------------------------------------------
#模板配置规则

[TemplateFile:2:1]

.*;                 stat_fail;             fail.ftl



u_L;	.*;		/player/player_main.ftl
u_R;	.*;		/player/register.ftl

p_CP;	.*;		/player/player_main.ftl
p_CSP;	.*;		/product/consum_product.ftl
p_MP;	.*;		/player/player_main.ftl



.*;                 .*;             fail.ftl

[/TemplateFile]
